.completed {
    color: #9ca3af;
    /* text-decoration: line-through; */
}
.sidetasks {
    width: 90%;
    margin: 2rem auto;
}
@media (min-width: 576px) and (max-width: 1023px) {
    .sidetasks {
        width: 30%;
        margin: 0 auto;
    }
}
@media (min-width: 1024px) {
    .sidetasks {
        width: 20%;
        margin: 0 auto;
    }
}