.alert {
    width: 80%;
    height: max-content;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, .01);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
@media (min-width: 576px) and (max-width: 1023px) {
    .alert {
        width: 70%;
    }
}
@media (min-width: 1024px){
    .alert {
        width: 30%;
    }
}
