@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'averta';
  src: local('Averta'), url(./Fonts/AvertaDemoPE-Regular.woff) format('woff');
}
@font-face {
  font-family: 'averta-bold';
  src: local('Averta-bold'), url(./Fonts/AvertaDemoPE-ExtraboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'liquido';
  src: local('Liquido'), url(./Fonts/LIQUIDO-Reguar.otf) format('opentype');
}
@font-face {
  font-family: 'liquido-fluid';
  src: local('Liquido-fluid'), url(./Fonts/LIQUIDO-Fluid.otf) format('opentype');
}
@font-face {
  font-family: 'rocksalt';
  src: local('rocksalt'), url(./Fonts/RockSalt-Regular.ttf) format('opentype');
}

.font-apple {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.averta {
  font-family: 'averta';
}
.averta-bold {
  font-family: 'averta-bold';
}
.rocksalt {
  font-family: 'rocksalt';
}
.liquido {
  font-family: 'liquido';
}
.liquido-fluid {
  font-family: 'liquido-fluid';
}

:root {
  --background: white;
  --background-alt: rgb(246, 246, 246)
  --text-primary: black;
  --text-secondary: #756fea;
  --accent: #6366f1;
}
[data-theme='dark'] {
  --background: #181728;
  --background-alt: #34335064;
  --text-primary: white;
  --text-secondary: #756fea;
  --accent: #6366f1;
  /* 040F16  1a1839*/
}
.vh {
  height: 100vh;
}
.theme-container {
  background-color: var(--background);
  color: var(--text-primary);
}
.theme-text-primary {
  color: var(--text-primary);
}
.theme-text-secondary {
  color: var(--text-secondary);
}
.theme-color-accent {
  color: var(--accent);
}
.theme-bg {
  background-color: var(--background);
}
.theme-bg-alt {
  background-color: var(--background-alt);
}
.theme-bg-accent {
  background-color: var(--accent);
}
/* -------------------------------------------------------------- */
.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.h-max-content {
  height: max-content;
}

.w-max-content {
  width: max-content;
}
.sm-hide {
  display: none;
}
@media (min-width: 634px) {
  .sm-hide {
    display: block;
  }
}